table#Kalendarz tr:nth-child(2) th {
    background-color: #6ea8fe !important;
    color: black !important;
}

table#Kalendarz tr:nth-child(1) td table tr td,
table#Kalendarz tr:nth-child(1) td table tr td a,
table#Kalendarz tr:nth-child(1) td table tr td a:visited {
    color: black !important;
    text-align: center !important;
}

table#Kalendarz {
    font-family: "Segoe UI";
    text-align: center !important;
}

html.darkmode table#Kalendarz a {
    color: #adb5bd !important;
}
